@import 'invoker-tokens/index.scss';

.root {
  background: $light-alpha-100;
  position: relative;
}

.greet {
  color: $brand-primary-200;
}

.testContainer {
  background: $brand-primary-200;
}

.title {
  margin: $space-stack-sm;
}

.description {
  margin: $space-stack-l;
}

.leftSection {
  top: 0;
  // background: #1d222f;
  background: $brand-primary-200;
  box-sizing: border-box;
}

.rightSection {
  top: 58px;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  padding: $space-ml;
  height: calc(100vh - 58px);
}

.link {
  display: block;
  color: $light-alpha-70;
  padding: $space-vertical-s;
}

.sidebarTitle {
  color: $light-alpha-90;
  text-transform: uppercase;
  margin: $space-stack-s;
  padding: $space-horizontal-m;
}

.mainContent {
  padding-left: $space-ml;
  padding-top: $space-ml;
  padding-right: $space-xl;
  min-height: calc(100vh - 58px);
}

.sidebarSection {
  margin: $space-vertical-ml;
  display: block;
}
